<head>
    <meta charset="utf-8">
    <title>{{#if title}}{{ title }} | {{/if}}{{ site.title }}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGCP2LEk6lMzYsRqr3dHFImA.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlJbPFduIYtoLzwST68uhz_Y.woff2" as="font" type="font/woff2" crossorigin>

    <meta name="author" content="Frederic Hemberger">
    <meta name="robots" content="{{#if robots}}{{ robots }}{{else}}index, follow, noodp{{/if}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <link rel="icon" href="/static/apple-touch-icon.png">

    <link rel="canonical" href="{{ site.url }}/{{#if path}}{{ path }}/{{/if}}">

    <link rel="alternate" href="/feeds/feed.rss" title="Frederic Hemberger" type="application/rss+xml">
    <link rel="alternate" href="/feeds/talks.rss" title="Frederic Hemberger: Talks" type="application/rss+xml">

    <link rel="stylesheet" href="/static/css/styles.css" media="all">
</head>
