<head>
    <meta charset="utf-8">
    <title>{{#if title}}{{ title }} | {{else}}{{#if html_title}}{{ html_title }} | {{/if}}{{/if}}{{ site.title }}</title>

    <link rel="preconnect" href="https://webmention.io">
    <link rel="preconnect" href="https://s3-us-west-2.amazonaws.com">

    <meta name="author" content="Frederic Hemberger">
    <meta name="robots" content="{{#if robots}}{{ robots }}{{else}}index, follow, noodp{{/if}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <link rel="icon" href="/static/apple-touch-icon.png">

    <link rel="canonical" href="{{ site.url }}{{#if path}}/{{ path }}/{{/if}}">

    <link rel="alternate" href="/feed/" title="Frederic Hemberger" type="application/rss+xml">

    <link rel="pingback" href="https://webmention.io/frederic-hemberger.de/xmlrpc" />
    <link rel="webmention" href="https://webmention.io/frederic-hemberger.de/webmention" />

    <link rel="stylesheet" href="/static/css/styles.css" media="all">
</head>
