<li class="grid-container">
    <div class="grid-3-3">
        <h3>{{ project }} <span class="time-period"><time>{{ time.from }}</time>–<time>{{ time.to }}</time></span></h3>
        {{{ markdown description }}}
    </div>

    <div class="grid-2-3">
        <ul>
            {{#each tasks}}
                <li>{{ . }}</li>
            {{/each}}
        </ul>
    </div>

    <ul class="tag-list">
        {{#each techstack}}
            <li>{{ . }}</li>
        {{/each}}
    </ul>
</li>
