<article>

    <header>
        <h3>{{ project }}</h3>
        <span>
            {{#if sector}}{{ sector }}, {{/if}}
            <time>{{ time.from }}</time>&#x200a;&ndash;&#x200a;<time>{{ time.to }}</time>
        </span>
    </header>

    <ul>
        {{#each tasks}}
            <li>{{{ . }}}</li>
        {{/each}}
    </ul>

</article>
