<article>

    <header>
        <h3>{{{ title }}}</h3>
        <span>
            {{#each held}}
                {{ this.date }} · {{{ this.event }}}<br>
            {{/each}}
        </span>
    </header>

    <p>{{{ markdown intro }}}</p>

    <ul>
        {{#each links}}
            <li><a href="{{ . }}">{{ @key }}</a></li>
        {{/each}}
    </ul>

</article>
