<li>
    <h3>{{{ title }}}</h3>
    <div class="talk-deck">
        {{#each held}}
            {{ this.date }} · {{{ this.event }}}<br>
        {{/each}}
    </div>

    <p>{{{ intro }}}</p>

    <ul>
        {{#each links}}
            <li><a href="{{ . }}">{{ @key }}</a></li>
        {{/each}}
    </ul>
</li>
